.heading-div {
    font-size: 4rem;
    color: white;

    #info-icon{

        color: white;
        font-size: 2rem;
        position: fixed;
        right: 1rem;
        top: 0.5rem;

        &:hover {
            color: black;
            cursor: pointer;
        }

    }

    #home-icon{
        color: white;
        font-size: 2rem;
        top: 0.5rem;
        left: 1rem;
        position: fixed;

        &:hover {
            color: black;
            cursor: pointer;
        }

    }

}

// Info Button Div

.card-counting-strategy {

    .heading {
        font-weight: bold;
    }

    div {
        padding: 5px 0;

        i {
            font-size: 8px;
            position: relative;
            bottom: 3px;
            padding-right: 3px;
        }
    }
}

.instructions {
    .heading {
        padding-top: 1rem;
        font-weight: bold;
    }

    .content {
        padding-top: 8px;
    }
}

// Info Button Div