.info-div {
    width: 30%;
    background-color: white;
    margin: auto;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 1rem;

    .first,
    .second,
    .third {
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}

.play-button-div{
    padding: 2rem;
    #play-button{
        width: 10vw;
        background-color: white;
        border: 3px solid black;
        border-radius: 0.5rem;
    }
}